<html>
  <body>

    <h1>Hello, World!</h1>
    <h3>HOSTNAME: <%= node['hostname'] %></h3>
    <h3>IPADDRESS: <%= node['ipaddress'] %></h3>
    <h3>NAME: <%= @name %></h3>
    <h3>EMAIL: <%= @email %> </h3>
    <img src="pierangelo.jpg">
</body>
</html>

